.myPost-unlike-btn{
    text-decoration: none;
    width: 30px;
    font-size: 12px;
    padding:0px;
    font-weight:600;
}

.postLiked-unlike-btn{
    cursor:pointer;
}

i::before{
    margin-top:20px;
}

