.main-searchBtn{
    background-color: #1d8daf;
    color: white;
    border:solid 1px #1d8daf;
}
.main-searchBtn:hover{
    border:solid 2px #1d8daf;
    transition: 0.5s;;
    background-color: white;
    color: rgba(102,102,102,.85);
}
#main-search-section{
    width : 80%;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(102,102,102,.7);
}

.select2-selection--single{
    border:1px solid red;
}

#img-carousel{
    position: relative;
}

#main-search{
    position: absolute;
    top : 15%;
    width : 100%;
    height:auto;
}

.main-service-checking-btn{
    width : 90%;
}

.main-filter{
    height :80px;
}



@media screen and (min-width : 1020px) and (max-width: 5000px){
    #main-search-section{
        display:block;
    }
}


@media screen and (min-width : 820px) and (max-width: 1020px){
    #main-search-section{
        display:block;
    }
}


@media screen and (min-width : 450px) and (max-width: 820px){
    #main-search-section{
        display:block;
    }
}


@media screen and (max-width: 450px){
    #main-search-section{
        display:none;
    }
}
