@media screen and (min-width : 1020px) and (max-width: 10000px){
    #searchFilter{
        display:flex;
        justify-content: center;

    }

    .input-data{
        width : 25%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .input-select-data{
        width : 50%;
        margin-left: 10px;
        margin-right: 10px;
    }

    #searchFilterSection{
        display: flex;
    }

    #searchKeyWord{
        margin: 10px 10px;
    }
    .mbselect{
        width:100%;
    }
    .selections-container{
        display:none;
        width:50%;
    }
}


@media screen and (min-width : 820px) and (max-width: 1020px){
    #searchFilter{
        display:flex;
        justify-content: center;

    }
    .input-data{
        width : 25%;
        margin-left: 10px;
        margin-right: 10px;

    }
    .input-select-data{
        width : 50%;
        margin-left: 10px;
        margin-right: 10px;
    }
    #searchFilterSection{
        display: flex;
    }
    #searchKeyWord{
        margin: 10px 10px;
    }
    .mbselect{
        width:100%;
    }
    .selections-container{
        display:none;
        width:50%;
    }
}


@media screen and (min-width : 450px) and (max-width: 820px){
    #searchFilter{
        display:flex;
        justify-content: center;
    }
    .input-data{
        width : 25%;
        margin-left: 10px;
        margin-right: 10px;

    }
    #searchFilterSection{
        display: flex;
    }
    #searchKeyWord{
        margin: 10px 10px;
    }
    .mbselect{
        width:50%;
    }
    .selections-container{
        display:block;
        width:100%;

    }
}


@media screen and (max-width: 450px){
    #searchFilter{
        display:block;
    }
    .input-data{
        width : 100%;
    }
    #searchFilterSection{
        display: block;
    }
    #searchKeyWord{
        margin: 2.5px 0px;
    }

    .select2-container{
        margin: 2.5px 0px;
    }

    .mbselect{
        width:50%;
    }

    .selections-container{
        display:block;
        width:100%;

    }

}
